*{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    background-color: #000000;
    color:#ffffff;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
  
}
.nav-bar{
 width: 350px;
 background-color:#000;
 margin-right: 10px;

}
.body{
background-color: #121212;
flex: 1;
 overflow: auto;
  border-radius: 20px;
}
.musicbar{
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 72px;
 background-color: #000000;
}
.home-search-bar{
padding: 8px 12px;
background-color:#121212;
font-size: 16px;
border-radius: 20px;
}
.home-search{
    padding: 8px 12px;
    background-color: #121212;
    font-size: 16px;
}
.home-search i{
    font-size: 20px;
    margin-right: 15px;
}
.lib img{
    height: 1.5rem;
    width: 1.5rem;
}
.lib{
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #121212;
}

.your{
    position:absolute;
    top: 130px;
    left: 70px;
    background-color: #121212; 
}
.lib, .lib1 img{
   background-color: #121212; 
}
.lib1 i{
    background-color: #121212; 
}
.lib1 {
    background-color: #121212; 
}
.lib-box {
    background-color: #232323;
    height :8rem;
    border-radius: 0.75rem;
    margin: 1rem 0 1rem 0;
    padding: 0.75rem 1rem;
}
 p{
    margin: 1rem 0 1rem 0;
    background-color: #232323;
}
.button{
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 4px  16px;
    font-weight: bold;
    /* margin-top: 1rem; */
}
.font{
    font-size: 15px;
}
.libaray{
    margin-top: 8px;
    padding: 8px 12px;
    background-color: #121212;
    height: 100vh;
    border-radius: 20px;
}
.sticy-nav{
    position: sticky;
    top: 0;
    display: flex;
    padding: 16px 0 16px 0;
    background-color: #121212;
    justify-content: space-between;
    z-index:10;
    border-radius: 20px;
}
.font-icon img{
    background-color: #121212;
}
.font-icon {
    background-color: #121212;
    padding: 8px 16px;
}
.back-icon{
   background-color: #121212;
}
.explore{
border-radius: 20px;
background-color: #fff;
color: #000;
padding: 8px 16px;
}
.Install{
border-radius: 20px;
padding: 8px 16px;
background-color: #121212;
}
.Install i{
    margin-right: 10px;

}
i{
    background-color: #121212;
}
h2{
    background-color: #121212;
    margin: 19px 0 19px 0;
 margin-left: 10px;
}

.cards{
    /* border-radius: 0.5rem; */
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    background-color: #121212;
    display: flex;
}
.card{
    border-radius: 0.5rem;
    width:178px;
    padding: 1rem;
    background-color: #232323;
}
.card-title{
    font-weight: 600px;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
.card-img{
    width:160px;
    border-radius: 0.5rem;
}
.card-conteners{
    display: flex;
    flex-wrap: wrap;
    background-color: #121212;
}
.space{
    height:200px;
    width: 100%;
    background-color: #121212;
}
.player-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454242;
}
.player-bar img{
    height: 1rem;
    margin-right: 2rem;
    margin-top: 10px;
    background-color: #454242;
}
.player-move{
    margin-top: 5px;
    display: flex;
    justify-content: center;
     background-color: #454242;
}

.progress-bar{
    appearance: none;
    padding: 2px;
    width: 500px;
    height: 10px;
    background-color: #454242;
    margin-bottom: 30px;
}
.musicbar{
    background-color: #454242;
}
.initial-time{
    background-color: #454242;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #fff;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    background-color: #fff;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}

/* .musicbar1, .photo{
    width: 50px; 
    height:50px;
    object-fit: cover; 
    display: block;
}
.musicbar2{
 margin-left: 10px;
 height: 20px;
 width: 20px;
} */

.card-img {
  width: 180px;       /* or whatever size you want */
  height: 180px;      /* keep square look like Spotify */
  border-radius: 8px; /* rounded corners */
  object-fit: cover;  /* prevent distortion */
}

.player {
  width: 25px;   /* adjust based on your design */
  height: 25px;
}

.lib1 img {
  width: 25px;
  height: 25px;
}
